<!DOCTYPE html>
<html>
  <head>
    <title>RailsMonastyrskyi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Accountsss', accounts_path %></li>
          <li><%= link_to 'Products', root_path %></li>
          <li><%= link_to 'Cart', cart_path %></li>
        </ul>
      </div>
    </nav>
  </head>

  <body>
  <div class="container">

    <%= yield %>
  </div>

  </body>
</html>
